$white: #FFFFFF
$grey-1: #2E2E2E
$grey-2: #272D29
$yellow: #F6BB19
$light-1: #EDEEC9
$light-2: #DDE7C7
$light-3: #BFD8BD
$light-4: #98C9A3
$green: #216321
$bg: #EBEBEB

.green
  color: $green

.yellow
  color: $yellow

.white
  color: white

.bg-black
  background: $grey-2

.bg-white
  background: white